#snapcraft specifics
/parts/
/stage/
/prime/

*.snap

.snapcraft
__pycache__
*.pyc
*_source.tar.bz2
snap/.snapcraft

/deb/ungoogled-chromium-common_*.deb
/deb/ungoogled-chromium_*.deb
/deb/ungoogled-chromium-l10n_*.deb
